body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

h2{
    font-size: 6em;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 120px white;
}